{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'commerce-product',
  'commerce-product--' ~ product_entity.bundle|clean_class,
  'commerce-product--full',
  'container p-0',
]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="row row-cus" style="margin-top:50px;">
    <div class="col-md-6 left-content">
      {{- product.field_image_product -}}
      {{- product.variation_field_images -}}
    </div>
    <div class="col-md-6 commerce-product--full-block-right right-content">
      <div class="commerce-product__contents p-3 bg-body rounded commerce-cus">
        <h1 class="font-main-medium-color-black-home color-blue fw-7" style="color:#54321B;">{{- product.title -}}</h1>

{#        <h3 class="pricetag mb-md-2 orange" style="color:#54321B;">Giá: {{product.variation_price}} VND</h3>#}
{#        <h3 class="pricetag mb-md-2 orange" style="color:#54321B;">Giá:  {{ product.variation_price }}  VND</h3>#}
{#        <h3 class="pricetag mb-md-2 orange" style="color:#54321B;">Giá: {{ product.variation_price|number_format(0, '.', ' ') }} VND</h3>#}


{#        {{ product.variation }}#}
{#        {{- product|without('body','variation','variation_title','field_product_category','field_image_product','field_images','variation_attributes','variation_price','variation_field_images','field_quality') -}}#}
{#        <h3 class="pricetag mb-md-2 orange" style="color:#54321B;">{{- product.field_product_category -}}</h3>#}
{#        {{ product.body }}#}
{#        <a class="btn a-cus-3" href="#" style="background-color:#C88C3D;">{{"XEM CHI TIẾT"|t}}</a>#}
        <div class="top">
          <a class="btn text-white mt-3 a-cus a-cus-1" href="#" style="background-color:#C88C3D;">{{"GIAO HÀNG TOÀN QUỐC"|t}}</a>
          <a class="btn text-white mt-3 a-cus a-cus-2" href="#" style="background-color:#C88C3D;">{{"MUA NHIỀU GIẢM NHIỀU"|t}}</a>
        </div>


      </div>
    </div>
  </div>
</article>
{# sản phẩm tương tự #}
<div class="product-similarly">
 {{ drupal_view('product_similarly','block_product_similarly') }}
</div>
{# đánh giá #}
<div class="container mt-5 p-0">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs custom-nav">
        <li class="nav-item">
            <a class="nav-link active" href="#thongtin" data-bs-toggle="tab">THÔNG TIN SẢN PHẨM</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#danhgia" data-bs-toggle="tab">ĐÁNH GIÁ SẢN PHẨM</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content custom-content">
        <div class="container tab-pane active" id="thongtin">
         <div class="mt-3">
{#            <h3>#}
{#                THÔNG TIN SẢN PHẨM#}
{#            </h3>#}
            <p>
              {{ product.variation }}
              {{- product|without('body','variation','variation_title','field_product_category','field_image_product','field_images','variation_attributes','variation_price','variation_field_images','field_quality') -}}
           <h3 class="pricetag mb-md-2 orange" style="color:#54321B;">{{- product.field_product_category -}}</h3>
             {{ product.body }}
            </p>
            </div>
        </div>
        <div class="container tab-pane custom-review" id="danhgia">
            <div class="mt-3 mb-5 custom-size">
                <div class="py-5 custom-bg">
                    <p class="custom-field">
                      {{ drupal_view('product_preview','block_product_preview') }}
                    </p>
                    <p class="text-center custom-button">
                        <a class="btn btn-light mt-3 bg-white rounded-3 review-ajax" href="">ĐÁNH GIÁ NGAY</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-form-content" style="display: none;"></div>
